<?xml version="1.0"?>
<!--
    This file is part of ALPHA AUV project.
    Author: Emir Cem Gezer
    Email: emircem@uri.edu;emircem.gezer@gmail.com
    Year: 2022
    Copyright (C) 2022 Smart Ocean Systems Laboratory
-->
<scenario xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:include filename="$(find world_of_stonefish)/metadata/looks.scn.xacro"/>
    <xacro:include filename="$(find world_of_stonefish)/metadata/materials.scn.xacro"/>

    <xacro:macro name="alpha_rise" params="xyz rpy robot_name">

        <robot name="${robot_name}" fixed="false" self_collisions="false">
            <base_link name="Vehicle" type="compound" physics="submerged">
                <external_part name="Hull" type="model" physics="submerged" buoyant="false">
                    <physical>
                        <mesh filename="parts/body/hull_mk2_reduced.obj" scale="0.001"/>
                        <origin rpy="1.5707 0.0 0.0" xyz="0.0 0.0 0.0"/>
                    </physical>
                    <visual>
                        <mesh filename="parts/body/hull_mk2_visual.obj" scale="0.001"/>
                        <origin rpy="1.5707 0.0 0.0" xyz="0.0 0.0 0.0"/>
                    </visual>
                    <material name="Vehicle"/>
                    <look name="yellow"/>
                    <mass value="30.0"/>
                    <!-- <inertia xyz="1.0 5.0 5.0"/> -->
                    <compound_transform rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
                    <cg xyz="-0.65 0.0 0.00" rpy="0.0 0.0 0.0"/>
                </external_part>

                <internal_part name="Foam" type="cylinder" physics="surface" buoyant="true">
                    <dimensions radius="0.12" height="0.68"/>
                    <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
                    <material name="Foam"/>
                    <mass value="0.1"/>
                    <look name="grey"/>
                    <compound_transform rpy="0.0 1.571 0.0" xyz="-0.65 0.0 -0.1"/>
                </internal_part>

                <external_part name="Mast" type="model" physics="submerged">
                    <physical>
                        <mesh filename="parts/others/mast.obj" scale="0.001"/>
                        <origin rpy="-1.571 0.0 1.571"  xyz="-1.0 0.0 0.0"/>
                    </physical>
                    <visual>
                        <mesh filename="parts/others/mast.obj" scale="0.001"/>
                        <origin rpy="-1.571 0.0 1.571" xyz="-1.0 0.0 0.0"/>
                    </visual>
                    <material name="Resin"/>
                    <look name="white"/>
                    <compound_transform rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
                </external_part>

                <external_part name="ThrusterDuctSurge" type="model" physics="submerged" buoyant="false">
                    <physical>
                        <mesh filename="parts/thruster/duct.obj" scale="0.0015"/>
                        <origin rpy="0.0 1.571 0.0" xyz="-1.5 0.0 0.0"/>
                    </physical>
                    <visual>
                        <mesh filename="parts/thruster/duct.obj" scale="0.0015"/>
                        <origin rpy="0.0 1.571 0.0" xyz="-1.5 0.0 0.0"/>
                    </visual>
                    <material name="Neutral"/>
                    <look name="black"/>
                    <compound_transform rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
                </external_part>

            </base_link>

            <!-- the actual base frame  -->
            <link name="Base" type="box" physics="submerged">
                <dimensions xyz="0.01 0.02 0.01"/>
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <material name="Neutral"/>
                <look name="Green"/>
            </link>


            <joint name="Joint1" type="fixed">
                <parent name="Vehicle"/>
                <child name="Base"/>
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <axis xyz="1.0 0.0 0.0"/>
            </joint>
            <!--  -->

            <actuator name="ThrusterSwayBow" type="thruster">
                <link name="Base"/>
                <origin rpy="0.0 0.0 -1.5707963" xyz="-0.2295 0.0 0.0"/>
                <specs thrust_coeff="0.4472" thrust_coeff_backward="0.3566" torque_coeff="0.01" max_rpm="3000.0"/>
                <propeller diameter="0.08" right="true">
                    <mesh filename="parts/thruster/prop.obj" scale="1.0"/>
                    <material name="Neutral"/>
                    <look name="white"/>
                </propeller>
                <ros_subscriber topic="/${robot_name}/control/thruster/sway_bow"/>
            </actuator>

            <actuator name="ThrusterHeaveStern" type="thruster">
                <link name="Base"/>
                <origin rpy="0.0 1.571 0.0" xyz="-1.13 0.0 0.0"/>
                <specs thrust_coeff="0.4472" thrust_coeff_backward="0.4472" torque_coeff="0.01" max_rpm="3000.0"/>
                <propeller diameter="0.08" right="true">
                    <mesh filename="parts/thruster/prop.obj" scale="1.0"/>
                    <mesh filename="prop.obj" scale="1.0"/>
                    <material name="Neutral"/>
                    <look name="white"/>
                </propeller>
                <ros_subscriber topic="/${robot_name}/control/thruster/heave_stern"/>
            </actuator>

            <actuator name="ThrusterHeaveBow" type="thruster">
                <link name="Base"/>
                <origin rpy="0.0 1.571 0.0" xyz="-0.3545 0.0 0.0"/>
                <specs thrust_coeff="0.4472" thrust_coeff_backward="0.4472" torque_coeff="0.01" max_rpm="3000.0"/>
                <propeller diameter="0.08" right="true">
                    <mesh filename="parts/thruster/prop.obj" scale="1.0"/>
                    <mesh filename="prop.obj" scale="1.0"/>
                    <material name="Neutral"/>
                    <look name="white"/>
                </propeller>
                <ros_subscriber topic="/${robot_name}/control/thruster/heave_bow"/>
            </actuator>

            <actuator name="ThrusterSurge" type="thruster">
                <link name="Base"/>
                <origin rpy="0.0 0.0 0.0" xyz="-1.5 0.0 0.0"/>
                <specs thrust_coeff="1.7568" thrust_coeff_backward="1.0882" torque_coeff="0.01" max_rpm="3000.0"/>
                <propeller diameter="0.08" right="true">
                    <origin rpy="1.571 0.0 0.0" xyz="0.0 0.0 0.0"/>
                    <mesh filename="parts/thruster/prop.obj" scale="1.0"/>
                    <mesh filename="prop.obj" scale="1.5"/>
                    <material name="Neutral"/>
                    <look name="white"/>
                </propeller>
                <ros_subscriber topic="/${robot_name}/control/thruster/surge"/>
            </actuator>
<!-- 
            <actuator name="Rudder" type="rudder">
                <link name="Base"/> -->

            <!-- <actuator name="Rudder" type="rudder">
                <link name="Base"/> -->
                <!-- a manual angle -->
                <!-- <origin rpy="0.0 0.0 0.2" xyz="0.0 0.0 0.0"/>  -->
                <!-- <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/> 
                <specs drag_coeff="1.0" lift_coeff="3.0" max_angle="0.6" inverted="false" area="0.06"/>
                <visual>
                    <mesh filename="parts/others/rudder.obj" scale="0.002"/>
                    <material name="Neutral"/>
                    <look name="black"/>
                    <origin rpy="-1.571 1.571 0.3" xyz="-1.2 0.0 0.2"/>
                </visual>
            </actuator> -->

            <sensor name="pressure" type="pressure" rate="5.0">
                <link name="Base"/>
                <origin rpy="0.0 0.0 0.0" xyz="-1.20 0.0 0.0"/>
                <noise pressure="2.0"/>
                <ros_publisher topic="/${robot_name}/pressure"/>
            </sensor>

            <sensor name="dvl_sf" type="dvl" rate="5.0">
                <link name="Base"/>
                <origin rpy="3.1415926 0.0 0.0" xyz="-0.65 0.0 0.1"/>
                <specs beam_angle="30.0"/>
                <range velocity="9.0 9.0 9.0" altitude_min="0.2" altitude_max="200.0"/>
                <noise velocity="0.01" altitude="0.001"/>
                <ros_publisher topic="/${robot_name}/dvl/twist" altitude_topic="/${robot_name}/dvl/altitude"/>
            </sensor>

            <sensor name="imu_sf" type="imu" rate="20.0">
                <link name="Base"/>
                <origin rpy="0.0 0.0 0.0" xyz="-0.65 0.0 -0.05"/>
                <noise angle="0.0001 0.0001 0.0001" angular_velocity="0.0001" yaw_drift="0.0001" linear_acceleration="0.0001"/>
                <ros_publisher topic="/${robot_name}/imu/stonefish/data"/>
            </sensor>

            <sensor name="gps" type="gps" rate="1.0">
                <link name="Base"/>
                <origin rpy="0.0 0.0 0.0" xyz="-0.7 0.0 -0.3"/>
                <noise ned_position="0.0"/>
                <ros_publisher topic="/${robot_name}/gps/fix"/>
            </sensor>

            <!-- <sensor name="odom" rate="10.0" type="odometry">
                <noise position="0.00" velocity="0.00" angle="0.0" angular_velocity="0.00"/>
                <history samples="1"/>
                <origin xyz="0.0 0.0 0.0" rpy="3.1415926 0.0 -1.5707963"/>
                <link name="Base"/>
                <ros_publisher topic="/${robot_name}/sf/odometry"/>
            </sensor> -->


            <!-- perception sensors -->
            <!-- <sensor name="mss" rate="5.0" type="profiler">
                <specs fov="90.0" steps="100"/>
                <range distance_min="0.5" distance_max="100.0"/>
                <noise distance="0.05"/>
                <history samples="1"/>
                <origin xyz="0.0 0.0 0.0" rpy="0.0 -1.5707963 0.0"/>
                <link name="Base"/>
                <ros_publisher topic="/${robot_name}/MSS/data"/>
            </sensor> -->
            
            
            <!-- <sensor name="msis" type="msis">
                <specs step="1.8" bins="1250" horizontal_beam_width="1.5" vertical_beam_width="15.0"/>
                <settings range_min="0.75" range_max="50.0" rotation_min="-45.0" rotation_max="45.0" gain="3.5"/>
                <noise multiplicative="0.02" additive="0.03"/>
                <display colormap="hot"/>
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 1.5707963"/>
                <link name="Base"/>
                <ros_publisher topic="/${robot_name}/msis/data"/>
            </sensor> -->

            <!-- <sensor name="MSIS" type="msis">
                <specs step="1" bins="100" horizontal_beam_width="2.0" vertical_beam_width="10.0"/>
                <settings range_min="0.5" range_max="50.0" rotation_min="-180.0" rotation_max="180.0" gain="1.5"/>
                <noise multiplicative="0.002" additive="0.003"/>
                <display colormap="hot"/>
                <origin xyz="0.0 0.0 0.0" rpy="1.57 0 1.57"/> -->
                <!-- <origin xyz="0.0 0.0 0.0" rpy="1.57 3.14 4.71"/> -->
                <!-- <ros_publisher topic="/${robot_name}/msis/stonefish/data"/>
                <link name="Base"/>
            </sensor> -->


            <!-- <sensor name="FLS" type="fls">
                <specs beams="512" bins="250" horizontal_fov="120.0" vertical_fov="15.0"/>
                <settings range_min="0.5" range_max="100.0" gain="1.5"/>
                <noise multiplicative="0.01" additive="0.02"/>
                <display colormap="hot"/>
                <origin xyz="0.0 0.0 0.0" rpy="1.5707963 0.0 1.5707963"/>
                <link name="Base"/>
                <ros_publisher topic="/${robot_name}/FLS/data"/>
            </sensor> -->

            <world_transform rpy="${rpy}" xyz="${xyz}"/>
            <!-- <world_transform xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/> -->
        </robot>
    </xacro:macro>

</scenario>